<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="parkingsystem.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="parkingsystem.Perspective"
            id="ParkingSystem.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.rcp.wxh.views.NavigationView"
            icon="icons/01.ico"
            id="com.rcp.wxh.views.NavigationView"
            name="导航"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.rcp.wxh.editors.EmpEditor2"
            default="false"
            icon="icons/EMP_MANAGE.png"
            id="com.rcp.wxh.editors.EmpEditor2"
            name="员工信息管理">
      </editor>
      <editor
            class="com.rcp.wxh.editors.StatisticEditor"
            default="false"
            icon="icons/STATISTIC_MANAGE.png"
            id="com.rcp.wxh.editors.StatisticEditor"
            name="车辆出入统计">
      </editor>
      <editor
            class="com.rcp.wxh.editors.PersonalEditor"
            default="false"
            icon="icons/PERSONAL_MANAGE.png"
            id="ParkingSystem.editor2"
            name="个人信息管理">
      </editor>
      <editor
            class="com.rcp.wxh.editors.CardEditor"
            default="false"
            icon="icons/CARD_MANAGE.png"
            id="com.rcp.wxh.editors.CardEditor"
            name="卡片信息管理">
      </editor>
      <editor
            class="com.rcp.wxh.editors.CarRecordEditor"
            default="false"
            icon="icons/CARRECORD_MANAGE.png"
            id="com.rcp.wxh.editors.CarRecordEditor"
            name="车辆出入记录">
      </editor>
      <editor
            class="com.rcp.wxh.editors.EnterEditor"
            default="false"
            icon="icons/01.ico"
            id="com.rcp.wxh.editors.EnterEditor"
            name="车辆出入场监控">
      </editor>
      <editor
            class="com.rcp.wxh.editors.ExpenseEditor"
            default="false"
            icon="icons/EXPENSE_MANAGE.png"
            id="com.rcp.wxh.editors.ExpenseEditor"
            name="缴费记录管理">
      </editor>
   </extension>

</plugin>
